{% extends "base.html" %}

{% block content %}

    <article class="post">
        <section class="post-content">
            <ul>
                <li><a href="https://speakerdeck.com/gperetin/webcamp-zagreb-2013">Concurrency</a> - WebcampZg 2013, Croatian language, (<a href="https://www.youtube.com/watch?v=LCPEXZ4TZ3M">recording</a>)</li>
                <li><a href="https://speakerdeck.com/gperetin/on-concurrency">On Concurrency</a> - Pycon Ireland 2013</li>
                <li><a href="https://speakerdeck.com/gperetin/greenlet-based-concurrency">Greenlet-based concurrency</a> - EuroPython 2013, (<a href="https://www.youtube.com/watch?v=b9vTUZYmtiE">recording</a>)</li>
                <li><a href="https://speakerdeck.com/gperetin/webcampzg-2012">Developing distributed systems</a> - WebcampZg 2012, Croatian language, (<a href="https://www.youtube.com/watch?v=0vydTLiFlUc">recording</a>)</li>
            </ul>
        </section>
    </article>

{% endblock %}
